#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  z-index: 10000;
  background-color: var(--white);
  border-right: 1px solid var(--white200);
  padding: 0 10px;
}

#main {
  max-width: 2200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 260px;
}

#footer {
  text-align: center;
  background-color: #eee;
  padding: 20px 20px 20px 260px;
}

@media (max-width: 800px) {
  #header {
    left: -260px;
    transition: 0.3s;
    background-color: var(--white);

    h1 {
      position: fixed;
      left: 0;
      top: 0;
    }
    .header__menu {
      margin-top: 90px;
    }
    &.active {
      left: 0;
    }
  }

  #main {
    padding-left: 0;
  }

  #footer {
    width: 100%;
    margin-left: 0;
  }
}
