#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  z-index: 10000;
  border-right: 1px solid var(--white200);
  padding: 0 10px;
}

#main {
  max-width: 2000px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 260px;
}

#footer {
  text-align: center;
  background-color: #eee;
  padding: 20px 20px 20px 260px;
}
