.video__inner {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: space-between;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(3, 32%);
    gap: 15px;
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
  }
  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 100%);
  }

  .video {
    margin-bottom: 20px;

    @media (max-width: 600px) {
      margin-bottom: 10px;
    }

    .video__thumb {
      margin-bottom: 10px;
    }
    .video__info {
      .title {
        @include line-two;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .author {
          margin-top: 6px;
          @include line-one;
          color: #666;
          transition: all 0.3s;

          &:hover {
            color: var(--black);
          }
        }
        .date {
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
}

.video__inner.search {
  min-height: 100vh;
}
